<%= form_for @release  do |f| %>
  <p>
    <%= f.label :user_ids %>
    <%= f.text_field :user_ids %>

    <br />
    <i>(Separated by comma. E.g 1,2,3)</i>
  </p>

  <p>
    <%= f.label :release_all %>
    <%= f.check_box :release_all %>
    <br />
    <i>(Be careful when checking this option because the feature will be released for all user)</i>
  </p>

  <%= f.submit %>
<% end %>
